CompileFlags:
  CompilationDatabase: c:\HAW\GT\TI_Labor\gitProjekte\ITS-BRD-VSC\Programs\A7ASM\out\A7ASM\ITSboard_Assembly\Debug
  Add:
    - -include
    - c:\HAW\GT\TI_Labor\gitProjekte\ITS-BRD-VSC\Programs\A7ASM\out\A7ASM\ITSboard_Assembly\Debug\compile_macros.h
